.field{
  background-color: white;
}
.mat-card-cvr{
  width: 100%;

  align-items: center;
}
.color{
  color: darkolivegreen;
}
.logo{
  text-align: right;
}
.card{
  text-align:center;
  margin: 0 auto;
  width: 15%;
  display:flex;
  background-color: darkgreen;
}
a:hover{
  color: white;
}
