<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img  src="assets/img/Logo_APHP.png" alt="LogoAPHP" />
    </mat-toolbar>
    <mat-nav-list>

      <div *ngIf="isAdmin">  <a mat-list-item routerLink="/home">Home</a> </div>
      <div *ngIf="isAdmin"><a mat-list-item routerLink="/structures/{{Key}}">Structure</a></div>
      <div *ngIf="isAdmin"><a mat-list-item routerLink="/speciality">Speciality</a></div>
      <div *ngIf="isAdmin"><a mat-list-item routerLink="/profil">Profil</a></div>

       <div *ngIf="isSecretary"><a mat-list-item routerLink="/home">Home</a></div>
      <div *ngIf="isSecretary"><a mat-list-item routerLink="/hospitalization/{{Key}}">Hospitalisation</a></div>
       <div *ngIf="isSecretary"><a mat-list-item routerLink="/assignement">Assignement</a></div>
       <div *ngIf="isSecretary"> <a mat-list-item (click)="getDmp()">Dmp</a></div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
