<mat-toolbar>
  <mat-toolbar-row>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>
        <a routerLink="/profil">
      <img width="75%" src="assets/img/doctor.png" alt="Doctor" />
        </a>
    </span>
  <span>
        <a routerLink="/profil">
         <input type="text" readonly="true" value="{{fullname}}" >
      </a>
   </span>
  <span>
        <a (click)="desconnect()">
      <img width="75%" src="assets/img/logout.png" alt="logout" />
        </a>
  </span>
  <span>
    <form [formGroup]="formGroup"  *ngIf="formGroup">

      <input type="text" formControlName="search">
      <button type="submit" (click)="searchDmp()"><mat-icon>search</mat-icon></button>

    </form>
 </span>
  <span>
        <a mat-list-item class="icon" routerLink="/home">
        <mat-icon>help</mat-icon></a>
 </span>
  <span class="span">12:14 01/02/2020</span>
  </mat-toolbar-row>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <div *ngIf="isDmp"><span>D</span></div>
        <div *ngIf="isDmp"><span>M</span></div>
        <div *ngIf="isDmp"><span>P</span></div>

        <div *ngIf="isSejour"><span>S</span></div>
        <div *ngIf="isSejour"><span>E</span></div>
        <div *ngIf="isSejour"><span>J</span></div>
        <div *ngIf="isSejour"><span>O</span></div>
        <div *ngIf="isSejour"><span>U</span></div>
        <div *ngIf="isSejour"><span>R</span></div>

        <div *ngIf="isStructure"><span>S</span></div>
        <div *ngIf="isStructure"><span>T</span></div>
        <div *ngIf="isStructure"><span>R</span></div>
        <div *ngIf="isStructure"><span>U</span></div>
        <div *ngIf="isStructure"><span>C</span></div>
        <div *ngIf="isStructure"><span>T</span></div>
        <div *ngIf="isStructure"><span>U</span></div>
        <div *ngIf="isStructure"><span>R</span></div>

        <div *ngIf="isAssignement"><a mat-list-item routerLink="/act/edit/{{assignementId}}/{{idUser}}/{{key}}">
          <span><mat-icon>broken_image</mat-icon></span></a>
        </div>
        <div *ngIf="isAssignement"><span><mat-icon>event_note</mat-icon></span></div>
        <div *ngIf="isAssignement"><span><mat-icon>emoji_people</mat-icon></span></div>
        <div *ngIf="isAssignement"><span>
          <img width="75%" src="assets/img/doctor.png" alt="Doctor" /></span></div>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--afficher list dmp trouver par la recherche-->
      <table *ngIf="isDmp" border="true" >
        <tr >
          <th class="mat-cell">firstname</th>
          <th class="mat-cell">lastname</th>
          <th class="mat-cell">birthCity</th>
          <th class="mat-cell">socialSecurityNumber</th>
          <th class="mat-cell">Number of Hospitalization</th>
        </tr>
        <tbody *ngIf="dmpsSearch">
       <tr *ngFor="let dmp of dmpsSearch;" [dmpSearch]="dmp" (dmpchoose)="getSejour($event)"></tr>
        </tbody>
      </table>

      <!--afficher list des hospitalisation relier au dmp choisi-->
      <table border="true" *ngIf="isSejour">
        <tr >
          <th class="mat-cell">Dmp</th>
          <th class="mat-cell">hospital</th>
          <th class="mat-cell">startDate</th>
          <th class="mat-cell">endDate</th>
          <th class="mat-cell">Nombre d'affectations</th>
          <th class="mat-cell">Les différents services</th>
        </tr>

        <tbody *ngIf="listHospitalization">
        <tr *ngFor="let h of listHospitalization;" [sejour]="h" (sejourchoose)="getAssignement($event)">
        </tr>
        </tbody>
      </table>

      <!--afficher les affectation-->

      <table class="center-table" border="true" *ngIf="isStructure">
        <tr >
          <th class="mat-cell">Start Date</th>
          <th class="mat-cell">End Date</th>
          <th class="mat-cell">Service</th>
        </tr>
        <tbody *ngIf="listAssignement">

        <tr *ngFor="let assignement of listAssignement;" [assignement]="assignement" (assignementchoose)="getActOfAssignement($event)">
        </tr>
        </tbody>
      </table>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-toolbar>

