<mat-toolbar>
  <a mat-fab class="icon" routerLink="/dmpSecretary/edit/{{key}}"><mat-icon> add</mat-icon></a>
  <span class="title">Dmp</span>
</mat-toolbar>
<mat-card class="card">
  <table border="true" >
    <tr >
      <th class="mat-cell">firstname</th>
      <th class="mat-cell">lastname</th>
      <th class="mat-cell">birth</th>
      <th class="mat-cell">birthCity</th>
      <th class="mat-cell">socialSecurityNumber</th>
      <th class="mat-cell">phoneNumber</th>
      <th class="mat-cell">email</th>
      <th class="mat-cell">Number of Hospitalization</th>
    </tr>
    <tbody *ngIf="listDmps">
    <tr *ngFor="let dmp of listDmps;" [dmp]="dmp">
    </tr>
    </tbody>
  </table>
</mat-card>
