<mat-toolbar>
  <span class="title">Add new Structure</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup" (ngSubmit)="onCreateStructure()" class="form">
      <mat-form-field class="form-element">
        <input  matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-label>Type De Structure</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of type" [value]="t.toString()">
            {{t.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="form-element">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>

      <button mat-raised-button type="submit" >Submit</button>
      <p>
        <button mat-button type="button"  (click)="reset()">Reset</button>
      </p>
    </form>
  </div>
</mat-card>
