<div class="p-3 text-center">
  <div class="col d-flex justify-content-center">
    <div class="card text-center shadow-none border-0 center-block p-4">
      <div class="card blue lighten-2 text-white animated  z-depth-1 fadeInDown border-0">
        <div class="card-body ">
          <h3 class="font-weight-normal text-center m-1"> Crée un structure </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-5 bg-light rounded shadow">
  <table class="table table-borderless bg-transparent">
    <tbody>
    <tr>
      <td>
        <form [formGroup]="formGroup"  class="form" *ngIf="formGroup">
          <fieldset>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Name</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-project-diagram"></i> </span>
                  </div>
                  <input formControlName="name" class="form-control font-weight-light " placeholder="Name">
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Type de structure</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-text"> <i class="fas fa-project-diagram"></i> </span>
                  <select class="selectpicker form-control" formControlName="type">
                    <option *ngFor="let t of type" [value]="t.toString()">
                    {{t.toString()}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Description</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-eye"></i> </span>
                  </div>
                  <input formControlName="description" class="form-control font-weight-light " placeholder="Description">
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Spécialités</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-text"> <i class="fas fa-certificate"></i> </span>
                  <select class="selectpicker form-control" formControlName="speciality">
                    <option *ngFor="let s of listSpecialities" [value]="s">
                      {{s.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Parent</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-text"> <i class="fas fa-link"></i> </span>
                  <select class="selectpicker form-control" formControlName="parent">
                    <option *ngFor="let parent of listStructures" [value]="parent">
                      {{parent.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <button  class="btn blue lighten-2 float-right" (click)="onCreateStructure()" type="submit" >Créer</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>



<mat-toolbar>
  <span class="title">Add new Structure</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup" (ngSubmit)="onCreateStructure()" class="form"*ngIf="formGroup">
      <mat-form-field class="form-element row">
        <input  matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="form-element row">
        <mat-label>Type De Structure</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of type" [value]="t.toString()">
            {{t.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element row">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>

      <mat-form-field class="form-element row">
        <mat-label>Speciality</mat-label>
        <mat-select formControlName="speciality">
          <mat-option *ngFor="let s of listSpecialities" [value]="s">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element row">
        <mat-label>Parent</mat-label>
        <mat-select formControlName="parent">
          <mat-option *ngFor="let parent of listStructures" [value]="parent">
            {{parent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" >Submit</button>
      <p>
        <button mat-button type="button"  (click)="reset()">Reset</button>
      </p>
    </form>
  </div>
</mat-card>


<!--
<mat-toolbar>
  <span class="title">Upadate Structure {{id}}</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup"  class="form" *ngIf="formGroup">
      <mat-form-field class="form-element">
        <input  matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Type De Structure</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of type" [value]="t.toString()">
            {{t.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Speciality</mat-label>
        <mat-select formControlName="speciality">
          <mat-option *ngFor="let s of listSpecialities" [value]="s">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Parent</mat-label>
        <mat-select formControlName="parent">
          <mat-option *ngFor="let parent of listStructures" [value]="parent">
            {{parent.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <button mat-raised-button color="primary" (click)="affecteChief(id)">Affecter Chef</button>

      <table class="center-table" border="true" >
        <tr >
          <th class="mat-cell">First Name</th>
          <th class="mat-cell">Role</th>
        </tr>
        <tbody *ngIf="chief">

        <tr (deleteChefInStructure)="deleteChefStructure($event)" [chefStructure]="chief" >
        </tr>
        </tbody>
      </table>

      <button mat-raised-button type="submit" (click)="onUpdateStructure()" [disabled]="!formGroup.valid" >Submit
      </button>
    </form>
  </div>
</mat-card>
-->
