.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.container {
  padding: 90px;
  width: 80%;
}
.form {
  display: inline;
  justify-content: center;
  min-width: 50%;
  max-width: 50%;
}
.form-element {
  padding: 25px 0px 15px 2px;
  width: 100%;
}
.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
  background-color: darkgreen;
}
button {
  background: green;
}
mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-top: 30px;
  margin-left: 60px;
}
mat-toolbar .title{
  color: white;
}
