<!--
<mat-toolbar>
  <a mat-fab class="icon" routerLink="/hospitalization/{{key}}/edit" (click)="add()"><mat-icon> add</mat-icon></a>
  <span class="title">Hospitalization</span>
</mat-toolbar>
<mat-card class="card">
  <table border="true" >
    <tr >
      <th class="mat-cell">Dmp</th>
      <th class="mat-cell">hospital</th>
      <th class="mat-cell">startDate</th>
      <th class="mat-cell">endDate</th>
      <th class="mat-cell">Nombre d'affectations</th>
      <th class="mat-cell">Les différents services</th>
    </tr>

  <tbody *ngIf="listHospitalization">
  <tr *ngFor="let h of listHospitalization;" [hospitalization]="h" >
  </tr>
  </tbody>
  </table>
</mat-card>
-->

<div class="p-3 text-center" >
  <div class="col d-flex justify-content-center">
    <div class="card text-center shadow-none border-0 center-block p-4" >
      <div class="card blue lighten-2  m-2 text-light shadow animated fadeInDown border-0">
        <div class="card-body ">
          <h3 class ="font-weight-normal text-center m-1">
            Hospitalisations
          </h3>
        </div>
      </div>
    </div>
  </div>

  <table class=" table animated fadeIn delay-short1 table-borderless py-3 ">
    <tbody *ngIf="listHospitalization">
    <tr class=" bg-red blue lighten-2 shadow text-light">
      <th>Dmp</th>
      <th>Hospitalitions</th>
      <th>Entrée</th>
      <th>Sortie</th>
      <th>Nombre d'affectations</th>
      <th>Services</th>
      <th></th>
    </tr>
    <tr *ngFor="let h of listHospitalization;" [hospitalization]="h" >
    </tr>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn bg-light blue lighten-2 z-depth-2 animated fadeInUp" routerLink="/hospitalization/{{key}}/edit" (click)="add()">
        <i class="fas fa-plus" style="color:white !important"></i>
      </button>
    </div>
    </tbody>
  </table>
</div>
