<td>{{hospitalization.dmp.lastname}} {{hospitalization.dmp.firstname}}</td>
<td>{{hospitalization.hospital.name}}</td>
<td *ngIf="hospitalization.startDate">{{hospitalization.startDate |date:'medium'}}</td>
<td *ngIf="!hospitalization.startDate">Nullllllll</td>

<td *ngIf="hospitalization.endDate">{{hospitalization.endDate|date:'medium'}}</td>
<td *ngIf="!hospitalization.endDate">Nullllllll</td>

<td>
  <a mat-mini-fab class="icon" routerLink="update/{{hospitalization.id}}"><mat-icon> create</mat-icon>
  </a>
</td>
