<mat-toolbar>
  <span class="title">Upadate Hospitalization {{id}}</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup" class="form" *ngIf="formGroup">
      <mat-form-field class="form-element">
        <mat-label>Choose Dmp</mat-label>
        <mat-select formControlName="dmp">
          <mat-option *ngFor="let dmp of dmps" [value]="dmp">
            {{dmp.firstname}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Choose Structure</mat-label>
        <mat-select formControlName="hospital">
          <mat-option *ngFor="let structure of listStructures" [value]="structure">
            {{structure.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input  matInput type="date" placeholder="Start Date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput type="date" placeholder="endDate" formControlName="endDate">
      </mat-form-field>


      <br>
      <button mat-raised-button color="primary" (click)="createHospitalization(id)">Create Hospitalization</button>

      <table class="center-table" border="true" >
        <tr >
          <th class="mat-cell">Service</th>
          <th class="mat-cell">Start Date</th>
          <th class="mat-cell">End Date</th>
        </tr>
        <tbody *ngIf="listAssignement">

        <tr *ngFor="let assignement of listAssignement;" [assignementHospitalization]="assignement">
        </tr>
        </tbody>
      </table>

      <button mat-raised-button type="submit" (click)="onUpdateHospitalization()"
              [disabled]="!formGroup.valid" routerLink="/hospitalization/{{key}}">Submit
      </button>
    </form>
  </div>
</mat-card>
