<mat-toolbar>
  <span class="title">Upadate Speciality {{id}}</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup" (ngSubmit)="onUpdateSpeciality()" class="form" >
      <mat-form-field class="form-element">
        <input  matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput type="text" placeholder="Description" formControlName="description">
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="onUpdateSpeciality()"
              [disabled]="!formGroup.valid" routerLink="/speciality/{{key}}">Submit
      </button>
    </form>
  </div>
</mat-card>
