<div class="p-3 text-center">
  <div class="col d-flex justify-content-center">
    <div class="card text-center shadow-none border-0 center-block p-4">
      <div class="card blue lighten-2  m-2 text-dark shadow animated fadeInDown border-0">
        <div class="card-body ">
          <h3 class="font-weight-normal text-center m-1"> Ajouter une structure </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-light rounded shadow">
  <table class="table table-borderless bg-transparent">
    <tbody>
    <tr>
      <td>
        <!--<form class="well form-horizontal">-->
        <form>
          <fieldset>
            <div class="form-group  row p-3">
              <label class="col-md-4 control-label text-right">Name</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-project-diagram"></i> </span>
                  </div>
                  <input formControlName="name" class="form-control font-weight-light " placeholder="Name">
                </div> <!-- input-group.// -->
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Type de structure</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-project-diagram"></i> </span>
                  </div>
                  <input formControlName="type" class="form-control font-weight-light " placeholder="Type">
                </div> <!-- input-group.// -->
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Description</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fas fa-eye"></i> </span>
                  </div>
                  <input formControlName="description" class="form-control font-weight-light " placeholder="Description">
                </div> <!-- input-group.// -->
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Spécialités</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-text"> <i class="fas fa-certificate"></i> </span>
                  <select class="selectpicker form-control" formControlName="speciality">
                    <option *ngFor="let s of listSpecialities" [value]="s">
                      {{s.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Parent</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-text"> <i class="fas fa-link"></i> </span>
                  <select class="selectpicker form-control" formControlName="speciality">
                    <option *ngFor="let parent of listStructures" [value]="s">
                      {{parent.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row p-3">
              <label class="col-md-4 control-label text-right">Ajouter chef</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <button class="btn btn-info" (click)="affecteChief(id)">
                    <i class="fas fa-user"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
