<mat-toolbar>
  <span class="title">Upadate Structure {{id}}</span>
</mat-toolbar>
<mat-card>
  <div class="container" >
    <form [formGroup]="formGroup" (ngSubmit)="onUpdateStructure()" class="form" *ngIf="formGroup">
      <mat-form-field class="form-element">
        <input  matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Type De Structure</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of type" [value]="t.toString()">
            {{t.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Speciality</mat-label>
        <mat-select formControlName="speciality">
          <mat-option *ngFor="let s of listSpecialities" [value]="s">
            {{s.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" (click)="onUpdateStructure()"
              [disabled]="!formGroup.valid" >Submit
      </button>
    </form>
  </div>
</mat-card>
