<td>{{structure.name}}</td>
<td>{{structure.description}}</td>
<td>{{structure.type}}</td>
<td *ngIf="structure.parent">{{structure.parent.name}}</td>
<td *ngIf="!structure.parent">Aucun parent</td>

<td *ngIf="structure.speciality">{{structure.speciality.name}}</td>

<td *ngIf="structure.chief">{{structure.chief.firstname}}</td>
<td *ngIf="!structure.chief">Aucun chef</td>

<td>
  <button routerLink="update/{{structure.id}}" class="btn bg-light my-2 my-sm-0 animated fadeInRight shadow delay-short1 blue lighten-2" type="submit">
    <i class="fas fa-pen  "style="color:white !important"></i>
  </button>
</td>
