<h1 mat-dialog-title>Choose Chef</h1>

<div mat-dialog-content>
  <form [formGroup]="formGroup" *ngIf="formGroup" class="form">

  <mat-form-field class="form-element">
    <mat-select formControlName="user">
        <mat-option *ngFor="let user of data" [value]="user.id">
          {{user.id}} {{user.firstname}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="onNoClick()">Retour</button>
    <button mat-button (click)="doAction()" cdkFocusInitial>Valider</button>
  </form>
</div>

